@charset "UTF-8";
		.board_list_wrap{
        	margin: auto;
 		 	padding: auto;
   			width:900px;
   			height:500px;
            margin-top: 50px;
            padding: 30px;
            border: 1px solid black;
        }
 		
        .title{
            width: 40%;
            padding: 1px auto;
            border: 1px solid black;
            margin: 50px auto;
        }
        h2{
            
            border: 1px solid black;
            text-align: center;
            margin: 10px;

        }
        
        .board_list{
            
            border: 1px solid black;
        }
        .board table tr,th,td{ 
            text-align: center;
            border: 1px solid black;
        }
        th{
            
            background-color: skyblue;
        }
        .board_list image{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .searchbar{
            position: relative;
            left: 75%;
            margin: 20px;
        }
        .savebtn_area{
           position: relative;
           left: 90%;
        } 
        .savebtn{
            margin: 10px;
        }